<app-header></app-header>
<div class="container">
  <div class="row mt-5">
    <h6 class="display-4">Détails du Burger</h6>
  </div>
  <div class="row">
    <div class="col-sm-8 mb-4">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/menu2.jpg"
          style="width: 18rem; margin-left: 30%"
          alt="Annonce 1"
        />
        <div class="card-body row">
          <hr />
          <img src="/assets/as11.jpg" style="width: 10rem" alt="" />

          <img src="/assets/Fries_2.jpg" style="width: 10rem" alt="" />
          <img src="/assets/Fries_2.jpg" style="width: 10rem" alt="" />
        </div>
      </div>
    </div>
    <!-- -------------------------------------------- -->
    <div class="col">
      <div class="card text-center" style="width: 18rem">
        
        <div class="card-body">
          <h5 class="card-title">Burger Simple</h5>
          <p class="card-text">
            frits burger viande oeuf <br />
            avec triple cheezburger
          </p>
        </div>
        <div class="list-group">
          <a
            href="#"
            class="list-group-item list-group-item-action bg-success text-white"
            ><i class="fas fa-mobile-alt mr-2"></i>Ajater au panier</a
          >
          <span class="list-group-item list-group-item-action">
            <a href="#"
              ><i class="fab fa-facebook-square fa-2x text-primary mr-1"></i
            ></a>
            <a href="#"
              ><i class="fab fa-whatsapp fa-2x text-success mr-1"></i
            ></a>
            <a href="#"
              ><i class="fab fa-twitter fa-2x text-primary mr-1"></i
            ></a>
            <a href="#"
              ><i class="fab fa-instagram fa-2x text-warning mr-1"></i
            ></a>
            <a href="#"><i class="fab fa-youtube fa-2x text-danger"></i></a>
          </span>

          <div class="card-body">
            <h5 class="card-title">Quantite</h5>
            <p class="card-text">dgdgqsqsx</p>
            <hr />
            <span class="float-left btn btn-sm btn-outline-danger disabled"
              >4.000.000FCFA</span
            >
            <span class="float-left btn btn-sm disabled">Ref: 67dh6dgo</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


