.contenuboudin {
    top: 70vh;
    left: 15%;


    height: auto;
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color:white;
    flex-wrap: wrap;
   
}