<app-header></app-header>


<nav class="navbar navbar-expand-sm navbar-dark bg-green w-100">
 
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    

  Liste Commandes
  
  </div>
</nav>














<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Details</th>
      <th scope="col">N° Commandes</th>
      <th scope="col">Montant</th>
      <th scope="col">Liste</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

